html {
	font-family: "K2D", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	font-size: 16px;
	line-height: 28px;

	color: #000000;
	background-color: #FEFFF5;
}

body {
	max-width: 500px;
	margin: 0 auto;
}

@media (min-width: 816px) {
	body {
		max-width: 600px;
	}
}

@media (min-width: 1440px) {
	body {
		max-width: 1170px;
	}
}


h1,
blockquote {
	font-family: "Nunito Sans", sans-serif;
}


.paragraph-container {

	border-left: 2px solid black;
	border-top: 2px solid black;
	padding-left: 16px;
	padding-top: 34px;
	padding-bottom: 34px;
	margin: 0px 25px;

	& :nth-child(1) {
		margin-bottom: 24px;
	}
}

.quotes {
	padding: 16px 16px;
	background-color: #F3FFAF;
	font-style: italic;
	border: 1px solid black;
	border-radius: 2px;

	font-size: 18px;
	line-height: 25px;
	font-weight: 400;
}



h1 {
	font-size: 55px;
	line-height: 44px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 30px 25px;

	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 12px;



	&>span {

		&:nth-child(1),
		&:nth-child(2) span,
		&:nth-child(3) {
			border: 2px solid #000000;
			padding: 12px 12px;
			border-radius: 3px;
		}

		&:nth-child(2) {
			display: flex;
			align-self: flex-end;

			&> :nth-child(1) {
				width: 100px;
				border-right: none;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&> :nth-child(2) {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		&:nth-child(3) {
			background-color: #f3ffaf;
			font-style: italic;
			font-weight: 400;
		}

		&:nth-child(1) {
			margin-left: 8%;
		}
	}

}